# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# IDEs and editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Android/IntelliJ
*.apk
*.ap_*
*.dex
*.class
*.jar
*.keystore
*.so
*.hprof
*.DS_Store

# iOS/Xcode
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcodeproj
*.xcconfig
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.moved-aside
DerivedData/
Pods/

# Web
web/generated_plugin_registrant.dart

# Others
*.log
*.tmp
*.swp
*.swo
*.orig
*.rej

# Sqflite database
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
macos/Flutter/GeneratedPluginRegistrant.swift
pubspec.lock
